body {
  height: 100vh;
  animation: bgchange 8s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:#101E53;
  font-size: 70px;
}

@keyframes bgchange {
  0% {
    background-color: #101E53;
  }

  20% {
    background-color: #6395f2;
  }

  40% {
    background-color: #b5f8f5;
  }

  60% {
    background-color: #4dd877;
  }

  80% {
    background-color: #b0f490;
  }

  100% {
    background-color: #f3f9c1;
  }
}
